  .container-small {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container-small {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-small {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container-small {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container-small {
      max-width: 1000px; } }

.navbar-brand:hover{
  opacity: 0.7;
}

.main-jumbotron{
  background-image: url(../assets/jumbotron/grotemarkt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 40vh;
  margin-bottom: 0;
  display: flex;

}

.card-testimonial{
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
}

.jumbotron-text-overlay{
  background: rgb(52, 58, 64);
  background: rgba(52, 58, 64, 0.9);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #fff;
  align-self: flex-end;
  width: 70%;
  line-height: 1.8em;
  margin-bottom: 2em;
}

.cta-overlay{
  display: none;
  position: absolute;
  top: 80vh;
  letter-spacing: 2px;
}

.cta-overlay-body{
  background: #f5992c;
  padding-top: 2.5em;
  padding-left: 2.5em;
  padding-right: 2em;
  padding-bottom: 2em;
  color: #fff;
  line-height: 1.8em;
  display: flex;
  flex-direction: column;
}

.cta-footer{
  background: #fff;
  color: #000;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cta-social{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.cta-footer, .cta-social a{
  color: #6c757d;
}

.cta-social a:hover{
  color: #ff0c30;
}

.btn.btn-cta{
  width: 100%;
  font-size: 120%;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: bold;
}

.btn-cta:not(:last-child){
  margin-bottom: 0.3em;
}

.btn-cta-wm{
  background: #fff;
  color: #f5992c;
}

.btn-cta-wm:hover{
  background: #ff0c30;
  color: #fff;
}

.btn-cta-dn{
  background: rgba(52, 58, 64, 0.3);
  color: #fff;
}

.btn-cta-dn:hover{
  background: #ff0c30;
  color: #fff;
}

.btn-cta-wp{
  border: solid 3px #fff;
  color: #fff;
}

.btn-cta-wp:hover{
  background: #ff0c30;
  border: solid 3px #ff0c30;
  color: #fff;
}

.jumbotron-text-overlay.d-block.d-md-none{
  background: #343a40;
  width: 100%;
}

.jumbotron-header{
  color: #f5992c;
}

.jumbotron-lead{
  font-size: 110%;
}

.header-right-components{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#main-menu{
  font-size: 110%;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.navbar-brand{
  margin-left: auto;
  margin-right: auto;
}

.quick-links{
  justify-content: center;
  align-items: center;
}

.dropdown-search{
  padding: 0;
}

.container-header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-lead{
  margin-top: 3em;
  margin-bottom: 3em;
}

.main-lead-display{
  font-style: italic;
  margin-bottom: 1.5em;
}

.main-lead-paragraph{
  margin-bottom: 2em;
  font-size: 110%;
}

.main-lead-button{
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .main-jumbotron{
    height: 70vh;
  }
  .jumbotron-text-overlay{
    width: 60%;
  }

  .navbar-brand{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

}

@media (min-width: 992px){
  .jumbotron-text-overlay{
    width: 50%;
  }

  #main-menu{
    padding: 0;
  }

  .quick-links{
    justify-content: flex-end;
  }

  .container-header{
    flex-direction: row;
  }

  .navbar-brand{
    margin-left: 0;
  }

  .cta-overlay{
    display: block;
    right: 4%;
  }
}

@media (min-width: 1200px){
    .jumbotron-text-overlay{
      width: 30%;
    }
    .cta-overlay{
    right: 3%;
  }
}

@media (min-width: 1400px){
  .cta-overlay{
    right: 7%;
  }
}

@media (min-width: 1500px){
  .cta-overlay{
    right: 10%;
  }
}

@media (min-width: 1600px){
  .cta-overlay{
    right: 19%;
  }
}

.navbar-toggler{
  padding: 0;
}

.quick-links li a{
  color: #000;
  font-weight: 300;
}

.quick-links li .btn{
  color: #fff;
  font-weight: 400;
}

.btn-nostyle{
  all: inherit;
}

#testimonials{
  margin-top: 3em;
  margin-bottom: 3em;
}

/* maatje-split */
.left {
    background: #faa540;
}
.right {
    background: url('../assets/arm.jpg') no-repeat center / cover;
    background-size: cover;
    padding: 0;
    min-height: 300px;
}

@media (min-width: 768px) {
  .half-container {
    padding-left: 15px;
    padding-right: 45px;
    max-width: 375px;
  }

  .left-half-container {
    margin-right: -15px;
  }

  .right-half-container {
    margin-left: -15px;
  }

}
@media (min-width: 992px) {
  .half-container {
    max-width: 485px;
  }

}
@media (min-width: 1200px) {
  .half-container {
    max-width: 585px;
  }

}
