.container-small {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container-small {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-small {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container-small {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container-small {
      max-width: 1000px; } }

.navbar-brand:hover{
  opacity: 0.7;
}

.main-jumbotron{
  height: 40vh;
  margin-bottom: 0;
  display: flex;
}

.jumbotron-text-overlay{
  background: rgb(52, 58, 64, 0.8);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #fff;
  align-self: flex-end;
  width: 70%;
  line-height: 1.8em;
  margin-bottom: 1em;
}

.jumbotron-text-overlay.d-block.d-md-none{
  background: #343a40;
  width: 100%;
}

.jumbotron-header{
  color: #f5992c;
}

.jumbotron-lead{
  font-size: 110%;
}

.header-right-components{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#main-menu{
  font-size: 110%;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.navbar-brand{
  margin-left: auto;
  margin-right: auto;
}

.quick-links{
  justify-content: center;
  align-items: center;
}

.dropdown-search{
  padding: 0;
}

.container-header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-lead{
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

.main-lead-display{
  text-align: center;
  font-style: italic;
  margin-bottom: 1.5em;
}

.main-lead-paragraph{
  text-align: center;
  margin-bottom: 2em;
  font-size: 110%;
}

.main-lead-button{
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .main-jumbotron{
    height: 70vh;
  }
  .jumbotron-text-overlay{
    width: 60%;
  }

  .navbar-brand{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 992px){
  .jumbotron-text-overlay{
    width: 40%;
  }

  #main-menu{
    padding: 0;
  }

  .quick-links{
    justify-content: flex-end;
  }

  .container-header{
    flex-direction: row;
  }

  .navbar-brand{
    margin-left: 0;
  }
}

.navbar-toggler{
  padding: 0;
}

.quick-links li a{
  color: #000;
  font-weight: 300;
}

.quick-links li .btn{
  color: #fff;
  font-weight: 400;
}

.btn-nostyle{
  all: inherit;
}

#testimonials{
  margin-top: 3em;
}

/* maatje-split */
.left {
    background: #faa540;
}
.right {
    background: url('../assets/arm.jpg') no-repeat center / cover;
    background-size: cover;
    padding: 0;
    min-height: 300px;
}

@media (min-width: 768px) {
  .half-container {
    padding-left: 15px;
    padding-right: 45px;
    max-width: 375px;
  }

  .left-half-container {
    margin-right: -15px;
  }

  .right-half-container {
    margin-left: -15px;
  }

}
@media (min-width: 992px) {
  .half-container {
    max-width: 485px;
  }

}
@media (min-width: 1200px) {
  .half-container {
    max-width: 585px;
  }

}
